# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# JavaScript tools and libraries
node_modules/

# Crossbar directory
.crossbar/
